
.marker-cluster-small {
	background-color: #004884;
}
.marker-cluster-small div {
	background-color: #e6effd;
    color:#004884
}
.marker-cluster-medium {
	background-color: #e6effd;
}
.marker-cluster-medium div {
    background-color: #3366cc;
    color:white
}
.marker-cluster-large {
	background-color: #3366cc;
}
.marker-cluster-large div {
	background-color: #004884;
    color:white
}

.leaflet-control-coordinates {
	background-color:#D8D8D8;
	background-color:rgba(255, 255, 255, 0.8);
	cursor:pointer;
}
.leaflet-control-coordinates,
.leaflet-control-coordinates .uiElement input {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

.leaflet-control-coordinates .uiElement {
	margin:4px;
}

.leaflet-control-coordinates .uiElement .labelFirst {
	margin-right:4px;
}

.leaflet-control-coordinates .uiHidden{
	display:none;
}

.leaflet-control-coordinates .uiElement.label {
	color:inherit;
	font-weight: inherit;
	font-size: inherit;
	padding: 0;
	display: inherit;
}

.leaflet-bar button,
.leaflet-bar button:hover {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
}

.leaflet-bar button {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
}

.leaflet-bar button:hover {
  background-color: #f4f4f4;
}

.leaflet-bar button:first-of-type {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.leaflet-bar button:last-of-type {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none;
}

.leaflet-bar.disabled,
.leaflet-bar button.disabled {
  cursor: default;
  pointer-events: none;
  opacity: .4;
}

.easy-button-button .button-state{
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}


.leaflet-touch .leaflet-bar button {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.leaflet-sidebar {
	position: absolute;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0px;
	left: 0px;
	top: 0px;
	z-index: 2000; 
	background-clip:none
	}
	.leaflet-sidebar.left {
	  left: -500px;
	  transition: left 0.5s, width 0.5s;
	  padding-right: 0; }
	  .leaflet-sidebar.left.visible {
		left: 0; }
	.leaflet-sidebar.right {
	  right: -500px;
	  transition: right 0.5s, width 0.5s;
	  padding-left: 0; }
	  .leaflet-sidebar.right.visible {
		right: 0; }
	.leaflet-sidebar > .leaflet-control {
	  height: 100%;
	  width: 100%;
	  overflow: auto;
	  -webkit-overflow-scrolling: touch;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  padding: 8px 24px;
	  font-size: 1.1em;
	  background: white;
	  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
	  -webkit-border-radius: 4px;
	  border-radius: 0px; }
	  .leaflet-touch .leaflet-sidebar > .leaflet-control {
		/* box-shadow: none;
		border: 2px solid rgba(0, 0, 0, 0.2);
		background-clip: padding-box;  */
	}
	@media (max-width: 767px) {
	  .leaflet-sidebar {
		width: 100%;
		padding: 0; }
		.leaflet-sidebar.left.visible ~ .leaflet-left {
		  left: 100%; }
		.leaflet-sidebar.right.visible ~ .leaflet-right {
		  right: 100%; }
		.leaflet-sidebar.left {
		  left: -100%; }
		  .leaflet-sidebar.left.visible {
			left: 0; }
		.leaflet-sidebar.right {
		  right: -100%; }
		  .leaflet-sidebar.right.visible {
			right: 0; }
		.leaflet-sidebar > .leaflet-control {
		  box-shadow: none;
		  -webkit-border-radius: 0;
		  border-radius: 0; }
		  .leaflet-touch .leaflet-sidebar > .leaflet-control {
			border: 0; } }
	@media (min-width: 768px) and (max-width: 991px) {
	  .leaflet-sidebar {
		width: 305px; }
		.leaflet-sidebar.left.visible ~ .leaflet-left {
		  left: 305px; }
		.leaflet-sidebar.right.visible ~ .leaflet-right {
		  right: 305px; } }
	@media (min-width: 992px) and (max-width: 1199px) {
	  .leaflet-sidebar {
		width: 390px; }
		.leaflet-sidebar.left.visible ~ .leaflet-left {
		  left: 390px; }
		.leaflet-sidebar.right.visible ~ .leaflet-right {
		  right: 390px; } }
	@media (min-width: 1200px) {
	  .leaflet-sidebar {
		width: 460px; }
		.leaflet-sidebar.left.visible ~ .leaflet-left {
		  left: 460px; }
		.leaflet-sidebar.right.visible ~ .leaflet-right {
		  right: 460px; } }
	.leaflet-sidebar .close {
	  position: absolute;
	  right: 45px;
	  top: 17px;
	  width: 31px;
	  height: 31px;
	  color: #333;
	  font-size: 30px;
	  line-height: 1em;
	  text-align: center;
	  background: white;
	  -webkit-border-radius: 16px;
	  border-radius: 16px;
	  cursor: pointer;
	  z-index: 1000; }
  
  .leaflet-left {
	transition: left 0.5s; }
  
  .leaflet-right {
	transition: right 0.5s; }


/* PANEL LAYERS */
.leaflet-panel-layers .leaflet-panel-layers-list {
	display: block;
}
.leaflet-panel-layers.expan .leaflet-panel-layers-list {
	display: block;
}
.leaflet-top.leaflet-right .leaflet-panel-layers:not(.compact) {
	margin: 0;
}
.leaflet-panel-layers {
	width: auto;
	height: 25px;
	min-width: 30px;
}
.leaflet-panel-layers.expan {
	height: auto;
	width: auto;
	overflow-x: hidden;
	overflow-y: auto;
}
.leaflet-panel-layers.expan .leaflet-panel-layers-list {
	display: block;
}
.leaflet-panel-layers:not(.expan) .leaflet-panel-layers-title > span,
.leaflet-panel-layers:not(.expan) .leaflet-panel-layers-selector,
.leaflet-panel-layers:not(.expan) .leaflet-panel-layers-grouplabel {
	display: none;
}
.leaflet-panel-layers-separator {
	clear: both;
}

.leaflet-panel-layers-item .leaflet-panel-layers-title {
	display: block;
	white-space: nowrap;
	float: none;
	cursor: pointer;
}
.leaflet-panel-layers-title .leaflet-panel-layers-selector {
	float: right;
}

.leaflet-panel-layers-group {
	position: relative;
	width: auto;
	height: auto;
	clear: both;
	overflow: hidden;
}
.leaflet-panel-layers-icon {
	text-align: center;
	float: left;
}
.leaflet-panel-layers-group.collapsible:not(.expan) {
	height: 20px;
}
.leaflet-panel-layers-group.collapsible:not(.expan) .leaflet-panel-layers-grouplabel {
	height: 20px;
	overflow: hidden;
}
.leaflet-panel-layers-group.collapsible:not(.expan) .leaflet-panel-layers-item {
	display: none;
}
.leaflet-panel-layers-group.collapsible .leaflet-panel-layers-grouplabel {
	display: block;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.leaflet-panel-layers-item {
	display: block;
	height: auto;
	clear: both;
	white-space: nowrap;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.leaflet-panel-layers-overlays .leaflet-panel-layers-item {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	width: auto;
	display: block;
}
.leaflet-panel-layers-base .leaflet-panel-layers-selector {
	float: left;
}
.leaflet-panel-layers-overlays .leaflet-panel-layers-selector {
	float: right;
}
.leaflet-panel-layers.expan .leaflet-panel-layers-overlays input {
	display: block;
}
.leaflet-control-layers-selector {
	float: left;
}


/* theming style */

.leaflet-panel-layers {
	padding: 4px;
	background: rgba(255,255,255,0.9);
	box-shadow: -2px 0 8px rgba(0,0,0,0.3);
	color:#004884;
}
.leaflet-panel-layers.expan {
	padding: 4px;
}
.leaflet-panel-layers-selector {
	position: relative;
	top: 1px;
	margin-top: 2px;
}
.leaflet-panel-layers-separator {
	height: 8px;
	margin: 12px 4px 0 4px;
	border-top:1px solid rgba(0,0,0,0.3);
}
.leaflet-panel-layers-item {
	min-height: 20px;
}
.leaflet-panel-layers-margin {
	height: 25px;
}
.leaflet-panel-layers-icon {
	line-height: 20px;
	display: inline-block;
	height: 20px;
	width: 20px;
	background: #fff;
}
.leaflet-panel-layers-group.collapsible .leaflet-panel-layers-icon:first-child {
	min-width: 20px;
	font-size: 16px;
	text-align: center;
	background: none;
}
.leaflet-panel-layers-group {
	padding: 2px 4px;
	margin-bottom: 4px;
	border: 1px solid rgba(0,0,0,0.3);
	background: rgba(255,255,255,0.6);
	border-radius: 3px;
}
.leaflet-panel-layers-overlays .leaflet-panel-layers-item {
	margin-bottom: 4px;
	padding: 2px;
	background: #fff;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
}
.leaflet-panel-layers-overlays .leaflet-panel-layers-item:hover {
	border: 1px solid #888;
	cursor: pointer;
}

.titleContainer{
	cursor: pointer;
}

@media screen and (min-width:0px ) and (orientation:portrait){

    .leaflet-panel-layers-item label {
		font-size: 10px;
	}
}